---
import Result from '../components/CardResults.astro';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Results summary component</title>
  </head>
  <body>
    <Result />
  </body>
</html>
